.button-cerchio--esterno_sinistro, .button-cerchio--esterno_destro
{
    width:40px;
    height:40px;
    border:1px solid #0E0F11;
    border-radius: 50%;
    position:absolute;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:50;
}

.btn-left, .btn-right
{
    position:absolute;
    border: 1px solid #0E0F11;
    width:32px;
    height:32px;
    border-radius:50%;
    background:#0E0F11;
    display:flex;
    justify-content: center;
    align-items:center;
    z-index:50;
}

.button-cerchio--esterno_sinistro
{
    left:30px;
}

.button-cerchio--esterno_destro{
    right:30px;
}

.btn-left i::before{
    content: url('../icons/vector_sinistra.png');
    display:flex;
    justify-content: center;
    align-items:center;
}

.btn-right i::before
{
    align-items:center;
    content: url('../icons/vector_destra.png');
    display:flex;
    justify-content: center;
    align-items:center;
}

button i{
    display:flex;
}